@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
    font-family: 'Monsterrat', sans-serif !important;
}

.draft-editor{
min-height: 300px;
max-height: max-content;
}

@tailwind base;
@tailwind components;
@tailwind utilities;